@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; max-width: 500px; margin: auto}
body { margin: 25px; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-form-field {
  width: 100%;
}

